{% extends 'base.html.twig' %}

{% block page_title %}Modifier le projet{% endblock %}

{% block content %}
    <h2>Modifier le projet</h2>

    <form name="projet" method="post">
        <div><label for="projet_nom" class="required">Titre du projet</label><input type="text" id="projet_nom" name="label" required value="{{ project.label }}" /></div>
        
        <div>
            <label>Assign Employees</label>
            <select name="employees[]" multiple>
                {% for user in users %}
                    <option value="{{ user.id }}" {% if user.id in assignedEmployeeIds %}selected{% endif %}>{{ user.firstName }} {{ user.lastName }}</option>
                {% endfor %}
            </select>
        </div>
        
        <button class="button button-submit" type="submit">Modifier</button>
    </form>

    <form method="POST" action="{{ path('app_project_delete', {'id': project.id}) }}">
        <button type="submit" class="delete-team">Supprimer</button>
    </form>
{% endblock %}
