{% extends 'base.html.twig' %}

{% block page_title %}

    <div class="flex-header">
        <h2>{{ project.label }}</h2>
        <div class="user-list">
            {% for user in assignedUsers %}
                <div class="avatar">{{ (user.firstName|slice(0,1) ~ user.lastName|slice(0,1))|upper }}</div>
            {% endfor %}
        </div>
        <a href="{{ path('app_project_edit_get', {id: project.id}) }}" class="button">Modifier</a>
    </div>

{% endblock %}

{% block content %}

    <div id="tasks-container">
    {% for stateLabel, tasks in tasksByState %}
        <div class="task-column">
            <h2>{{ stateLabel }}</h2>
                <div class="tasks-list">
                    {% for task in tasks %}
                        <a href="{{ path('app_task_edit_form', {id: task.id}) }}" class="task">
                            <h3>{{ task.label }}</h3>
                            <p>{{ task.description }}</p>
                            <div class="task-infos">
                                {% if task.dateDeadline %}
                                    <div class="task-deadline"><i class="fas fa-calendar"></i> {{ task.dateDeadline.format('d/m/Y') }}</div>
                                {% endif %}
                                {% if task.employeeAssignement and task.employeeAssignement.employee %}
                                    <div class="mini-user">{{ (task.employeeAssignement.employee.firstName|slice(0,1) ~ task.employeeAssignement.employee.lastName|slice(0,1))|upper }}</div>
                                {% endif %}
                            </div>
                        </a>
                    {% endfor %}
                    <a href="{{ path('app_task_create_form', {idProject: project.id}) }}" class="task-add">+ Ajouter une tâche</a>
                </div>
        </div>
    {% endfor %}
    <div id="tasks-container">
{% endblock %}
