{% extends 'base.html.twig' %}

{% block page_title %}Créer une tâche{% endblock %}

{% block content %}
    <h2>Créer une tâche</h2>

    <form name="tache" method="post" action="{{ path('app_task_create') }}">
        <div><label for="tache_titre" class="required">Titre de la tâche</label><input type="text" id="tache_titre" name="label" required /></div>
        <div><label for="tache_description">Description</label><textarea id="tache_description" name="description"></textarea></div>

        <div class="form-flex">
            <div><label for="tache_deadline">Date</label><input type="date" id="tache_deadline" name="dateDeadline" /></div>
            <div>
                <label for="tache_statut" class="required">Statut</label>
                <select id="tache_statut" name="state" required>
                    <option value="">Sélectionnez</option>
                    {% for s in states %}
                        <option value="{{ s.id }}">{{ s.label }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div>
            <label for="tache_employe">Membre</label>
            <select id="tache_employe" name="assignedUser">
                <option value=""></option>
                {% for user in users %}
                    <option value="{{ user.id }}">{{ user.firstName }} {{ user.lastName }}</option>
                {% endfor %}
            </select>
        </div>

        <button class="button button-submit" type="submit">Ajouter</button>
    </form>
{% endblock %}
