{% extends 'base.html.twig' %}

{% block page_title %}Modifier la tâche{% endblock %}

{% block content %}
    <h2>Modifier la tâche</h2>

    <form name="tache" method="post">
        <div><label for="tache_titre" class="required">Titre de la tâche</label><input type="text" id="tache_titre" name="label" required value="{{ task.label }}" /></div>
        <div><label for="tache_description">Description</label><textarea id="tache_description" name="description">{{ task.description }}</textarea></div>

        <div><label for="tache_deadline">Date</label><input type="date" id="tache_deadline" name="dateDeadline" value="{{ task.dateDeadline ? task.dateDeadline.format('Y-m-d') : '' }}" /></div>
        <div>
            <label for="tache_statut" class="required">Statut</label>
            <select id="tache_statut" name="state" required>
                {% for s in states %}
                    <option value="{{ s.id }}" {% if task.state and task.state.id == s.id %}selected{% endif %}>{{ s.label }}</option>
                {% endfor %}
            </select>
        </div>

        <div>
            <label for="tache_employe">Membre</label>
            <select id="tache_employe" name="assignedUser">
                <option value=""></option>
                {% for u in users %}
                    <option value="{{ u.id }}" {% if user and user.id == u.id %}selected{% endif %}>{{ u.firstName }} {{ u.lastName }}</option>
                {% endfor %}
            </select>
        </div>

        <button class="button button-submit" type="submit">Modifier</button>
    </form>

    <form method="POST" action="{{ path('app_task_delete', {'id': task.id}) }}">
        <button type="submit" class="delete-task">Supprimer la tâche</button>
    </form>
{% endblock %}
